.navbarImage{
	margin-right:10px;
	margin-left:10px;
}
nav{
	font-family: 'Montserrat', sans-serif;
}
.loginCard{
	width:500px;
	margin-top:50px;
}
@media only screen and (max-width: 600px) {
  .loginCard{
	width:70%;
	margin-top:30px;
  }
}
.w70{
	width:70%;
}
.flag{
	text-decoration: none;
}
li{
	text-align: left;
}

path {fill: lightgray; stroke: white;}
path:hover {fill: gray;}

#cc{
	style:display:none;
}
.chat-line{
	width:100%;
	padding-left:20px;
	display:grid;
	grid-template-columns:10% 20% 50% 20%;
}

.badge_kentel{
	border-radius:10px;

}
.bg-black{
	background:#2e2e2e;
	color:white;
}
.bg-green{
	color:white;
	background:#008f07;
}
.profileImage{
	border-radius: 50%;
}