{% extends 'adminBase.html' %}
{% block title %} Home {% endblock %}
{% block title2 %} Home {% endblock %}
{% block body %}
<center>
 <br><br>
 <ul class="list-group w70">
 	{% if users %}
 		{% for u in users %}
 			<li class="list-group-item"><a class="flag">{{u["IPDATA"]["countryCode"]}}</a> <img loading="lazy" style="border-radius:50%;object-fit: cover; width:40px;height:30px" src="/static/{{u['profileImage']}}" onerror="this.onerror=null;this.src='/static/user.png';"><a href="/admin/user/{{u["_id"]}}" style="text-decoration:none;color:gray;"> {{u["fullName"]}}</a> <a style="color:blue;" href="mailto: {{u["email"]}}">{{u["email"]}}</a> </li>
 		{% endfor %}
 	{% else %}
 		<li class="list-group-item">No Users Yet.</li>
 	{% endif %}

</ul>
</center>

{% endblock %}