<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
</head>

<body>
    <h1>Welcome to the original documentation</h1>
    <code>
        /login - Method POST<br>
        Arguments: 
        <ul>
            <li>'email'</li>
            <li>'password'</li>
        </ul>
        Output:"text/json"<br>
        <br>

        <div style="margin-left:20px">

        
        {<br>
            <div style="margin-left:40px">
            "email":email, <br>
            "password":password,<br>
            "ip":ip_,<br>
            "ip_data":ipdata,<br>
            "image":filename,<br>
            "dateOfBirth":dateBirth,<br>
            "registerDate":registerMachineTime,<br>
            "UID":UID<br>
            </div>
        }<br>
        </div><br><br>
        /register Method POST<br>
        Arguments:
        <ul>
            <li>"email"</li>
            <li>"password"</li>
            <li>"dateBirth"</li>
            <li>"ip"</li>
        </ul>
        Output:<br>
        <div style="margin-left:20px">

        
            {<br>
                <div style="margin-left:40px">
                "email":email, <br>
                "password":password,<br>
                "ip":ip_,<br>
                "ip_data":ipdata,<br>
                "image":filename,<br>
                "dateOfBirth":dateBirth,<br>
                "registerDate":registerMachineTime,<br>
                "UID":UID<br>
                </div>
            }<br>
        </div>


    </code>

</body>

</html>