<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
</head>

<body>
    <h1>Welcome to the original documentation</h1>
    <h2>Auth</h2>
    <code>
        /login - Method POST<br>
        Arguments: 
        <ul>
            <li>'email'</li>
            <li>'password'</li>
        </ul>
        Output:"text/json"<br>
        <br>

        <div style="margin-left:20px">

        
        {<br>
            <div style="margin-left:40px">
            "email":email, <br>
            "password":password,<br>
            "ip":ip_,<br>
            "ip_data":ipdata,<br>
            "image":filename,<br>
            "dateOfBirth":dateBirth,<br>
            "registerDate":registerMachineTime,<br>
            "UID":UID<br>
            </div>
        }<br>
        </div><br><br>
        /register Method POST<br>
        Arguments:
        <ul>
            <li>"email"</li>
            <li>"password"</li>
            <li>"dateBirth"</li>
            <li>"ip"</li>
        </ul>
        Output:<br>
        <div style="margin-left:20px">

        
            {<br>
                <div style="margin-left:40px">
                "email":email, <br>
                "password":password,<br>
                "ip":ip_,<br>
                "ip_data":ipdata,<br>
                "image":filename,<br>
                "dateOfBirth":dateBirth,<br>
                "registerDate":registerMachineTime,<br>
                "UID":UID<br>
                </div>
            }<br>
        </div>


    </code>
    <br>
    <h2>Listing</h2>
    <code>
        /api/listing POST<br>
        Arguments:<br>
        {<br>
            "email":email,<br>
            "password":password,<br>
            "title":title,<br>
            "PID":PID,<br>
            "price":price,<br>
            "location":location,<br>
            "type":type_,<br>
            "revisions":revisions,<br>
            "digital":digital,<br>
            "sqfeet":printsqfeet,<br>
            "sqfootage":printsqfootage,<br>
            "category":category,<br>
            "population":population,<br>
            "discountAvailable":discountAvailable,<br>
            "installationDate":installationDate,<br>
            "removalDate":removalDate,<br>
            "tags":tags,<br>
            "image":file,<br>
            "extras":extras,<br>
            "requirements":requirements,<br>
            "description":description,<br>
            "bookingNote":bookingNote,<br>
            "bookingOffset":bookingOffset,<br>
            "bookingWindow":bookingWindow,<br>
            "maxBookingDuration":maxBookingDuration,<br>
            "minBookingDuration":minBookingDuration,<br>
            "minGuestsPerBooking":minGuestsPerBooking,<br>
            "maxGuestsPerBooking":maxGuestsPerBooking,<br>
            "manuallyAcceptNewBookings":manuallyAcceptNewBookings,<br>
            "agreeToConditions":agreeConditions,<br>

        }<br>
        Note:the key values are arguments<br>
        Output:{"PID":pid}+input data<br>

        <br>
        /api/listing?id=PID GET<br>
        Returns the same thing as the input other than email and password<br>
        <br>
        /api/listing DELETE<br>
        Arguments as form:<br>
        email,password,id<br>
        Returns just success value. Deletes the listing, anyone other than user can't delete the listing.
        <br><br>
        /search?q=search GET<br>
        returns searched listings <br>
        if you don't specify anything, it will return all
        



    </code>
    <br>
    <h2>Update Profile</h2>
    <code>
        /profile/upload/UserID POST<br>
        Send the same things as register, don't send it if you don't want it to update. Email and password is required for auth
    </code>
</body>

</html>