<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation and details of Private API</title>
</head>
<body>
    <h1>Tech Stack</h1>
    <p>We use mongo DB and python flask combined together on this API. You can find every detail about using this API on this page.</p>
    <br>
    <h1> Uploading to this server</h1>
    <p>So in every endpoint with a file input statement, you need to upload the file to the /api/upload and put the given filename to the parameter.</p>
    <br>
    <code>
        /api/upload - POST<br>
        'file' - send file to this endpoint, no more documentation here. 
    </code>
    <br>
    <br>
    <h1>Authentication</h1>
    <p>We don't have crazy shit here</p>
    <code>
        /api/register - POST <br>
        "email" - E-Mail of the user<br>
        "password" - Password of the user<br>
        "dateOfBirth" -  Date of birth of the user In DD/MM/YYYY format<br>
        "IPDATA" - Data returned from <a href="http://ip-api.com/json"> http://ip-api.com/json</a><br>
        "fullName"- You know what a name is<br>
        "profileImage" - As I mentioned before. Don't mention any folders but you can access it trough Static route.<br>
        "phoneNumber" - Phone number, simple.<br>
    </code>
    <br>
    <code>
        /api/login - POST <br>
        "email" - E-Mail of the user<br>
        "password" - Password of the user<br>
        "phoneNumber" - Phone number, simple.<br>
        one of email and phone number should be mentioned while using the API, it can work with both.<br>
    </code>
    <h1>Profile and Credential Updating</h1>
    <h2>Profile update(you can't update phonenumber email or password)</h2>
    <p>In this section '/api/updateprofile' you will send POST requests to this endpoint. You are able to use the same things in register, it will automatically understand the data you sent. IPDATA is not required but you are still able to send.</p>
    <h2>Credential Updating</h2>
    <code>
        ENDPOINT: /api/update_login_credentials METHOD: POST <br>
        # You are able to authenticate with just email or just phoneNumber or by using both <br>
        # Required: email or phoneNumber,password <br>
        # optional: <br>
        #new_password, new_phoneNumber, new_email
        # I'm not explain what they mean, they are very self explanatory.
    </code>

</body>
</html>