{% extends 'adminBase.html' %}
{% block title %} Order Approval {% endblock %}
{% block title2 %} Order Approval {% endblock %}
{% block body %}
<center>
 <br>
 {% for a in approvalData %}
 	{% for b in approvalData[a] %}
	 	<div class="card w70" id="{{a}}{{approvalData[a].index(b)}}">
	 		<div class="card-body">
	 			<h5 class="card-title">Request for "{{listingData[a]["title"]}}"</h5>
	 			<p class="card-text" style="text-align:left">
	 				{% if b["status"] == "active"%}
	 				<strong>Status</strong>: <a style="color:green">Active</a><br>
	 				{% endif %}
	 				{% if b["status"] == "waitingForApproval"%}
	 				<strong>Status</strong>:<a style="color:gray">Waiting for approval</a><br>
	 				{% endif %}
	 				<strong>Price(per day)</strong>:{{b["pricePerDay"]}}<br>
	 				<strong>Price(total)</strong>:{{b["price"]}}<br>
	 				<strong>Total price cut(Adflaunt)</strong>:{{printFee+calcPercentage(b["price"],10)}}<br>
	 				<strong>Offer title</strong>:{{b["title"]}}<br>
	 				<strong>Offer Description</strong>:{{b["description"]}}<br>
	 				<strong>Length(As days)</strong>:{{b["daysWantToBook"]|length}}<br>
	 				<strong>Width(as inches)<strong>:{{returnWidthLength(b)["width"]}}<br>
	 				<strong>Height(as inches)<strong>:{{returnWidthLength(b)["height"]}}<br>
	 				<i>Note: if width and height is none, it is before we did the update.</i>
	 				<br>
	 				<a href="/static/{{b['printingFile']}}" target="_blank">Download Attachement</a>
	 				
	 			</p>

	 		</div>
	 	</div ><br>
 	{%endfor%}
 {% endfor %}
</center>

{% endblock %}