{% extends 'adminBase.html' %}
{% block title %} Order Approval {% endblock %}
{% block title2 %} Order Approval {% endblock %}
{% block body %}
<center>
 <br>
 {% for a in approvalData %}
 	{% for b in approvalData[a] %}
	 	<div class="card w70" id="{{a}}{{approvalData[a].index(b)}}">
	 		<div class="card-body">
	 			<h5 class="card-title">Request for "{{listingData[a]["title"]}}"</h5>
	 			<p class="card-text" style="text-align:left">
	 				<strong>Price(per day)</strong>:{{b["pricePerDay"]}}<br>
	 				<strong>Price(total)</strong>:{{b["price"]}}<br>
	 				<strong>Total price cut(Adflaunt)</strong>:{{printFee+calcPercentage(b["price"],10)}}<br>
	 				<strong>Offer title</strong>:{{b["title"]}}<br>
	 				<strong>Offer Description</strong>:{{b["description"]}}<br>
	 				<strong>Length(As days)</strong>:{{b["daysWantToBook"]|length}}<br><br>
	 				<a href="/static/{{b['printingFile']}}" target="_blank">Download Attachement</a>
	 				<center>
		 				<div class="grid2">
		 					<button class="btn btn-success w70" onclick="acceptBooking('{{a}}','{{approvalData[a].index(b)}}')">Accept</button>
		 					<button class="btn btn-danger w70" onclick="denyBooking('{{a}}','{{approvalData[a].index(b)}}')">Deny</button>
		 				</div>
	 				</center>
	 			</p>

	 		</div>
	 	</div ><br>
 	{%endfor%}
 {% endfor %}
</center>

{% endblock %}